#grid-container {
    display: flex;
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid-cell {
  width: calc(100% / 16);
  height: calc(100% / 16);
  box-sizing: border-box;
  border: 1px solid lightgray;
}